body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color:blue;
    color: white;
    text-align: center;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 30px;
    margin: 10px;
    border: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    border-radius: 60px;
}
#inputNumber {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 60px;
    border-color: #007BFF;
    
}
#rulesGame {
    color: #f4f4f4;
    margin-top: 50px;
    background-color: #007BFF;
}


